# Default Ignore All
/**

# Repo
!/README.md
!/CLAUDE.md
!/.gitmodules
!/.gitignore
!/.config/
!/.local/

# Neovim
!/.config/nvim/
!/.config/nvim/**
/.config/nvim/spell

# Taskfile
!/Taskfile.yml
!/.config/taskfiles/
!/.config/taskfiles/**

# Custom Scripts
!/.local/bin/
!/.local/bin/whale
!/.local/bin/snowjob
!/.local/bin/popuptmux

# Code Formatting
!/.yamlfmt
!/.prettierrc

# fonts
!/.local/share/
!/.local/share/fonts/
!/.local/share/fonts/*

# Other
!/.envrc
!/Brewfile
!/.Brewfile

# Always Ignore
.DS_Store
