[submodule ".tmux/plugins/tpm"]
	path = .config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule ".antidote"]
	path = .antidote
	url = https://github.com/mattmc3/antidote.git
[submodule ".config/tmux/plugins/tmux-sensible"]
	path = .config/tmux/plugins/tmux-sensible
	url = git@github.com:tmux-plugins/tmux-sensible
