# Default Ignore All
/**

# Repo
!/README.md
!/CLAUDE.md
!/.gitmodules
!/.gitignore
!/.rgignore
!/.config/
!/.local/

# Claude
!/.claude/
!/.claude/CLAUDE.md
!/.claude/agents/
!/.claude/agents/*
!/.claude/commands/
!/.claude/commands/*

# Rectangle
!/.config/rectangle/
!/.config/rectangle/config.json

# Nix
!/.config/nix/
!/.config/nix/*

# ZSH
!/.zshrc
!/.zshenv
!/.zsh_plugins.txt
!/.antidote
!/.config/zsh/
!/.config/zsh/*
.config/zsh/100_claude_bedrock.zsh

# Zellij
!/.config/zellij/
!/.config/zellij/*
/.config/zellij/*.bak
!/.config/zellij/layouts/
!/.config/zellij/layouts/*

# Tmux
!/.gitmux.conf
!/.config/tmux/
!/.config/tmux/tmux.conf
!/.config/tmux/load-plugins.sh
!/.config/tmux/plugins/
!/.config/tmux/plugins/*
!/.config/tmux/tmux-nerd-font-window-name.yml

# Tmuxinator
!/.config/tmuxinator/
!/.config/tmuxinator/*

# Neovim
!/.config/nvim/
!/.config/nvim/**
/.config/nvim/spell

# K9s
!/.config/k9s/
!/.config/k9s/aliases.yaml
!/.config/k9s/config.yaml
!/.config/k9s/skins/
!/.config/k9s/skins/*
!/.config/k9s/plugins/
!/.config/k9s/plugins/*

# Aider
!/.aider.conf.yml

# Alactritty
!/.config/alacritty/
!/.config/alacritty/*

# Wezterm
!/.config/wezterm/
!/.config/wezterm/*

# Taskfile
!/Taskfile.yml
!/.config/taskfiles/
!/.config/taskfiles/**

# Git
!/.stCommitMsg
!/.config/git/
!/.config/git/config
!/.config/git/ignore

# Custom Scripts
!/.local/bin/
!/.local/bin/whale
!/.local/bin/snowjob
!/.local/bin/popuptmux

# Code Formatting
!/.yamlfmt
!/.prettierrc

# SSH
!/.ssh/
!/.ssh/config

# gh
!/.config/gh/
!/.config/gh/config.yml

# fonts
!/.local/share/
!/.local/share/fonts/
!/.local/share/fonts/*

# Btop
!/.config/btop/
!/.config/btop/themes/
!/.config/btop/themes/*
!/.config/btop/btop.conf

# Other
!/.envrc
!/Brewfile
!/.Brewfile
!/.dir_colors
!/.myclirc
!/.config/topgrade.toml
!/.config/starship.toml
!/.distroboxrc
!/.config/bat/
!/.config/bat/**
!/.config/delta/
!/.config/delta/**

# Always Ignore
.DS_Store
